<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🎬MOVIEW</title>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="../static/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>
<!--헤더-->
<div class="tem_head">
    <div id="head_wrap">
        <img src="../static/img/logo.png" alt="로고">
        <button type="button" class="btn btn-primary">로그인</button>
    </div>
</div>
<!--콘텐츠 영역-->
<div class="wrap">
    <!--원용님 영역-->
    <div class="slide_wrap">
        <div id="slide" class="swiper-container">
            <div class="swiper-wrapper">
                <!--아래 div 활용해주세요-->
                <div class="img-wrapper swiper-slide">
                    <img src="https://images.chosun.com/resizer/SstKelKS2u_utVqn78kmbdEABqE=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/5JA2S7B34BSPECT4LSLSFRQZJU.jpg"
                         alt="영화이미지"/>
                    <div class="rank_wrap">
                        <p class="rank">1</p>
                        <input type="hidden" name="movie_title" value="1"/>
                        <input type="hidden" name="movie_text" value="2"/>
                        <input type="hidden" name="movie_date" value="3"/>
                    </div>
                     <div class="hover_text" onclick="getData(this);">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </div>
                </div>
                <div class="img-wrapper swiper-slide">
                    <img src="https://images.chosun.com/resizer/SstKelKS2u_utVqn78kmbdEABqE=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/5JA2S7B34BSPECT4LSLSFRQZJU.jpg"
                         alt="영화이미지"/>
                    <div class="rank_wrap">
                        <p class="rank">1</p>
                        <input type="hidden" name="movie_title" value="1"/>
                        <input type="hidden" name="movie_text" value="2"/>
                        <input type="hidden" name="movie_date" value="3"/>
                    </div>
                     <div class="hover_text" onclick="getData(this);">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </div>
                </div>
                <div class="img-wrapper swiper-slide">
                    <img src="https://images.chosun.com/resizer/SstKelKS2u_utVqn78kmbdEABqE=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/5JA2S7B34BSPECT4LSLSFRQZJU.jpg"
                         alt="영화이미지"/>
                    <div class="rank_wrap">
                        <p class="rank">1</p>
                        <input type="hidden" name="movie_title" value="1"/>
                        <input type="hidden" name="movie_text" value="2"/>
                        <input type="hidden" name="movie_date" value="3"/>
                    </div>
                     <div class="hover_text" onclick="getData(this);">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </div>
                </div>
                <div class="img-wrapper swiper-slide">
                    <img src="https://images.chosun.com/resizer/SstKelKS2u_utVqn78kmbdEABqE=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/5JA2S7B34BSPECT4LSLSFRQZJU.jpg"
                         alt="영화이미지"/>
                    <div class="rank_wrap">
                        <p class="rank">1</p>
                        <input type="hidden" name="movie_title" value="1"/>
                        <input type="hidden" name="movie_text" value="2"/>
                        <input type="hidden" name="movie_date" value="3"/>
                    </div>
                     <div class="hover_text" onclick="getData(this);">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </div>
                </div>
                <div class="img-wrapper swiper-slide">
                    <img src="https://images.chosun.com/resizer/SstKelKS2u_utVqn78kmbdEABqE=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/5JA2S7B34BSPECT4LSLSFRQZJU.jpg"
                         alt="영화이미지"/>
                    <div class="rank_wrap">
                        <p class="rank">1</p>
                        <input type="hidden" name="movie_title" value="1"/>
                        <input type="hidden" name="movie_text" value="2"/>
                        <input type="hidden" name="movie_date" value="3"/>
                    </div>
                     <div class="hover_text" onclick="getData(this);">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--슬라이드 버튼 영역-->
        <div class="btn_area">
            <span id="prev" class="prev btn"><i class="fa-solid fa-angle-left"></i></span>
            <span id="next" class="next btn"><i class="fa-solid fa-angle-right"></i></span>
        </div>
    </div>
    <div class="content_wrap">
        <div class="content">
            <!--혜미님 영역-->
            <div id="wish_list">
                <div class="content_head" id="wish_head">
                    <h1>✨ WISH</h1>
                </div>
                <!--아래 div 활용해주세요-->
                <div class="card mb-3 div_box" id="wish_div">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://images.chosun.com/resizer/SstKelKS2u_utVqn78kmbdEABqE=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/5JA2S7B34BSPECT4LSLSFRQZJU.jpg"
                                 class="img-fluid rounded-start" alt="포스터" style="max-height: 30vh;width: 20vw">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">탑건 : 매버릭</h5>
                                <p class="card-text">
                                    가장 압도적인 비행이 시작된다! 최고의 파일럿이자 전설적인 인물 매버릭(톰 크루즈)은 자신이 졸업한 훈련학교 교관으로 발탁된다.
                                </p>
                                <p class="card-text"><small class="text-muted">2022.06.25 개봉</small></p>
                                <button onclick="popup_on()" type="button" class="btn btn-success" id="go_review">리뷰쓰기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--영진님 영역-->
            <div id="review_list">
                <div class="content_head" id="review_head">
                    <h1>🎈 REVIEW</h1>
                </div>
                <!--아래 div 활용해주세요-->
                <div class="card mb-3 div_box" id="review_div">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title">매버릭 후기 <span class="card_date">2022.06.25</span></h5>
                                <p class="card-text">매버릭 재밌다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--팝업박스-->
            <div id="popup_mask"></div>
            <div id="popup_box">
                <div id="popup_title">${영화이름}</div>
                <div id="popup_date">
                    <input type="date">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="popup_star">별점</label>
                    <select class="form-select" id="popup_star">
                        <option selected>-- 선택하기 --</option>
                        <option value="1">⭐</option>
                        <option value="2">⭐⭐</option>
                        <option value="3">⭐⭐⭐</option>
                        <option value="4">⭐⭐⭐⭐</option>
                        <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="popup_comment"></textarea>
                    <label for="popup_comment">리뷰작성</label>
                </div>
                <div class="popup_btn">
                    <button onclick="popup_posting()" type="button" class="btn btn-dark">작성완료</button>
                    <button onclick="popup_close()" type="button" class="btn btn-outline-dark">닫기</button>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script src="../static/common/index.js"></script>
<script src="../static/youngjin.js"></script>
<script src="../static/hemi.js."></script>
<script src="../static/wonyong.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</html>